<!DOCTYPE html>
<html>
    <head>
            <link href= "/public/assets/stylesheet.css" rel="stylesheet" type="text/css" />            <title>User Information Application</title>
    </head>
        <body>
            <div>
                <h1>Hmm. I recognise you,<br> but i've forgotten your name.</h1>
            </div>
            <iframe src="https://giphy.com/embed/4bjIn0rsYmutZRFKmQ" width="480" height="360" style="margin: 0 auto; display: block;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/jimgaffigan-jim-gaffigan-4bjIn0rsYmutZRFKmQ"></a></p>          
                <div class="user-table">
                    <br>
                    <br>  
                    <table method='post' action ='/index' >
                         <% user.forEach((obj)=>{%>
                             <tr>
                                 <td name='newfirstname' placeholder='First Name'>
                                 </td><%= obj.firstname %></td>
                                 <td><%= obj.lastname %></td>
                             </tr>
                          <% });%>
                    </table>
                </div>          
                    <div>
                        <form method='post' action ='/userInfo' name='search' class='form-control'>
                            <input type='text' placeholder='Name' name='name' class='ghost-input' id='target-name' autocomplete="off">
                            <br>
                            <br>
                              <input type='submit' value='search'>
                         </form>
                         <div> <ul id="result"> </ul></div>
                         
                        <div>
                            <h1>Oh, you're new in these parts...<br> Scroll down<br> </h1>
                        </div>
                        <iframe src="https://giphy.com/embed/l0HlH1zkPJbxpN6fu" width="480" height="270" style="margin: 0 auto; display: block;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/southparkgifs-l0HlH1zkPJbxpN6fu"></a></p>      
                                <h1>Sign up below</h1>
                             </div>
                             <div>
                                <form method='post' action ='/newuser' >
                                    <input name='newfirstname' placeholder='First Name'>
                                    <br>
                                     <br>
                                     <br>
                                     <input name='newlastname' placeholder='Second Name'>
                                     <br>
                                     <br>
                                     <br>
                                     <input name='newemail' placeholder='Email'>
                                     <br>
                                    <br>
                                    <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>
                                </form>
                            </div>
                      </body>    
                
                <footer>
                </footer>
            </html>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript">

                $( document ).ready(function(){    
                    $("input").keyup(function(){
                        var value = $( this ).val()
                        var data = {
                           userInput: value
                       }
                         let start = 0;

                         if(value === ""){
                             $("#result").html("")
                            return
                            }
                         
                       setInterval(function(){
                            $.ajax({
                                type: "POST",
                                url: "/userInfo",
                                data: data,              
                                dataType: "json", 
                                success: function(result){
                           
                        let userArray = result.user

                        $("#result").html("")

                        
                
                        var res = str.toLowerCase(userArray[i].firstname);
                        
}


                        for(i = 0; i < userArray.length; i++){  
                            $("#result").append("<ul>" + userArray[i].firstname || res + " " + userArray[i].lastname + "</ul>")
                         
                              console.log(userArray[i].firstname) + ' ' + (userArray[i].lastname)
                        }}
                    })
                })
            })
        }, 3000);
                    
                  
                        
               </script>