<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
    <style>
        body {background-color: powderblue;}
        h1   {color: rgb(19, 13, 13);font-size: xx-large; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }
        p    {color: rgb(19, 13, 13);}
        </style>
    <body>
                
<div class="tenor-gif-embed" data-postid="4646343" data-share-method="host" data-width="100%" data-aspect-ratio="1.7913669064748199"><a href="https://tenor.com/view/oldspice-you-gif-4646343">It's You!! GIF</a> from <a href="https://tenor.com/search/oldspice-gifs">Oldspice GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script></div>
<h1 style=> Ohhh yes, it's a match... <%= user.firstname %> <%= user.lastname %> you are the one. </h1>

            </body>
</head>
</html>